{
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "rules": {
    "no-console": ["error", { allow: ["warn", "error", "info"] }],
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "prefer-object-spread": "off",
  }
}
